// 1. Global tags options
* {
  border: 0;
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  &:before,
  &:after {
    box-sizing: border-box;
  }
}



html, body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

#app {
  min-height: 100%;
  width: inherit;
}

body {
  background-color: $body-bg;
  font-size: $font-size-base;
  font-family: $font-family-sans-serif;
}


img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: inherit;
}

ul {
  list-style: none;
}

a {
  color: $primary;
  text-decoration: none;
  background-color: transparent;
}



.mdi {
  font-size: 1.5em;
}



//Empty data
.empty-data {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  text-align: center;
  &__image > .mdi {
    font-size: 15rem;
    color: $muted;
  }
}


//Login
.login-section {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  align-self: center;
  justify-self: center;
  width: 80%;
  min-height: 80%;
  box-shadow: 0 8px 14px 1px #0000007a;
  position: relative;
  .login--form {
    background: none;
    box-shadow: none;
  }
  .input-label {
    color: $primary;
  }
}


.login-card > .card-media {
  flex: 1 0 60%;
}
.login-card > .card-content {
  flex: 1 0 40%;
}


.label-link {
  display: block;
  color: $link;
  text-align: right;
  font-weight: 500;
  cursor: pointer;
}

// Forms


.codeForm, .emailForm {
  transform: translateX(150%);
  display: none;
}




