@mixin gradientBg($direction, $startColor, $endColor) {
  background: $startColor;
  background: linear-gradient($direction,  $startColor 0%, $endColor 80%,$endColor 100%);
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  line-height: 24px;
  color: #ffffff;
  position: relative;
  height: 50px;
  border-radius: 3px;
  padding: 0 2em;
  cursor: pointer;
  box-shadow: 0 3px 5px 0 #0000003b;
  @include button-bg($grey);
  &.btn-primary {
    @include button-bg($primary)
  }
  &.is-small {
    height: 30px;
  }
  &.rounded {
    border-radius: 25px;
  }
  &.width-1 {
    width: 7rem;
  }
  &.width-2 {
    width: 9rem;
  }
  &.width-3 {
    width: 11rem;
  }
  &.extended {
    width:100%;
  }
}

